<% include partials/header %>
<% blogs.forEach(function(blogs){%>
<h2><%= blogs.title%></h2>
<img src="<%=blogs.image%>">
<p><%=blogs.date%></p>
<p><%=blogs.body.substring(0,100)%></p>
<a href="/blogs/<%=blogs._id%>">Read more</a>
<%})%>
<% include partials/footer %>
